language: java
sudo: false
services:
  - docker

before_script:
  - docker run --name blood_donation -e POSTGRES_USER=demoUSER -e POSTGRES_DB=blood_donation -e POSTGRES_PASSWORD=demoPASSWORD -p 5432:5432 -d postgres
