language: java
sudo: false
services:
  - postgresql

before_script:
  - psql -c 'CREATE DATABASE blood_donation;' -U postgres
  - psql -c "CREASTE USER TESTdemoUSER WITH ENCRYPTED PASSWORD 'TESTdemoPASSWORD';" -U
  - psql -c "GRANT ALL PRIVILEGES ON DATABASE blood_donation TO TESTdemoUSER;" -U
