language: java
sudo: false
services:
  - postgresql

before_script:
  - psql -c 'create database blood_donation;' -c 'create user TESTdemoUSER with encrypted password \'TESTdemoPASSWORD\';' -c 'grant all privileges on database blood_donation to TESTdemoUSER;' -U postgres