language: java
sudo: false
services:
  - postgresql

before_script:
  - psql -c 'create database blood_donation; create user TESTdemoUSER with encrypted password TESTdemoPASSWORD; grant all privileges on database blood_donation to TESTdemoUSER;' -U postgres