language: java
sudo: false
services:
  - postgresql

before_script:
  - psql -c 'create database blood_donation;' -U postgres
  - psql -c "create user TESTdemoUSER with encrypted password 'TESTdemoPASSWORD';" -U postgres
  - psql -c "grant all privileges on database blood_donation to TESTdemoUSER;" -U postgres
