language: java
sudo: false
services:
  - postgresql

before_script:
  - psql -c 'CREATE DATABASE blood_donation;' -U postgres
  - psql -c 'CREATE USER TESTdemoUSER WITH ENCRYPTED PASSWORD \'$JDBC_DATABASE_PASSWORD\';' -U postgres
  - psql -c "GRANT ALL PRIVILEGES ON DATABASE blood_donation TO TESTdemoUSER;" -U postgres
